In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [19]:
df = pd.read_csv('movie_dataset.csv')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3385 entries, 0 to 3384
Data columns (total 39 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            3385 non-null   object
 1   genre            3385 non-null   object
 2   release_year     3385 non-null   int64
 3   runtime          3385 non-null   float64
 4   rating           3385 non-null   float64
 5   vote_count       3385 non-null   int64
 6   director         3385 non-null   object
 7   cast1            3385 non-null   object
 8   cast2            3381 non-null   object
 9   cast3            3375 non-null   object
 10  cast4            3374 non-null   object
 11  overview         3385 non-null   object
 12  gross            3385 non-null   float64
 13  poster_link      3385 non-null   object
 14  source           3385 non-null   object
 15  Action           3385 non-null   int64
 16  Adventure        3385 non-null   int64
 17  Animation        3385 non-null   int64
 18  Biography        3385 non-null   int64
 19  Comedy           3385 non-null   int64
 20  Crime            3385 non-null   int64
 21  Documentary      3385 non-null   int64
 22  Drama            3385 non-null   int64
 23  Family           3385 non-null   int64
 24  Fantasy          3385 non-null   int64
 25  Film-Noir        3385 non-null   int64
 26  History          3385 non-null   int64
 27  Horror           3385 non-null   int64
 28  Music            3385 non-null   int64
 29  Musical          3385 non-null   int64
 30  Mystery          3385 non-null   int64
 31  Romance          3385 non-null   int64
 32  Sci-Fi           3385 non-null   int64
 33  Science Fiction  3385 non-null   int64
 34  Sport            3385 non-null   int64
 35  Thriller         3385 non-null   int64
 36  TV Movie         3385 non-null   int64
 37  War              3385 non-null   int64
 38  Western          3385 non-null   int64
dtypes: float64(3), int64(26), object(10)
memory usage: 1.0+ MB

In [21]:
df['main_genre'] = df['genre'].str.split(',').str[0]

In [22]:
df.main_genre.value_counts()

main_genre
Drama              622
Action             577
Comedy             462
Horror             299
Animation          278
Adventure          269
Crime              182
Thriller           115
Family              99
Science Fiction     90
Biography           88
Fantasy             75
Romance             67
Mystery             42
Documentary         35
Western             27
War                 20
Music               15
TV Movie            10
History             10
Film-Noir            3
Name: count, dtype: int64

In [23]:
df.to_csv('movie_dataset_main_genre.csv')

In [24]:
df['release_year'].value_counts().sort_index(ascending=True)

release_year
1920      1
1921      1
1922      1
1924      1
1925      2
       ...
2020     58
2021     89
2022    150
2023    234
2024    185
Name: count, Length: 103, dtype: int64

In [25]:
df.gross.value_counts()

gross
 0.0            547
 20115887.0     169
-3000000.0        8
-7000000.0        7
-5000000.0        5
               ...
 45900000.0       1
 56500000.0       1
 94346243.0       1
 115723856.0      1
 294638258.0      1
Name: count, Length: 2543, dtype: int64

In [27]:
df = df[df['gross'] > 0]

In [35]:
df = df.sort_values(by='release_year', ascending=True)

In [36]:
df.head()

,title,genre,release_year,runtime,rating,vote_count,director,cast1,cast2,cast3,...,Mystery,Romance,Sci-Fi,Science Fiction,Sport,Thriller,TV Movie,War,Western,main_genre
321,Das Cabinet des Dr. Caligari,"Fantasy, Horror, Mystery",1920,76.0,8.1,57428,Robert Wiene,Werner Krauss,Conrad Veidt,Friedrich Feher,...,1,0,0,0,0,0,0,0,0,Fantasy
127,The Kid,"Comedy, Drama, Family",1921,68.0,8.3,113314,Charles Chaplin,Charles Chaplin,Edna Purviance,Jackie Coogan,...,0,0,0,0,0,0,0,0,0,Comedy
568,Nosferatu,"Fantasy, Horror",1922,94.0,7.9,88794,F.W. Murnau,Max Schreck,Alexander Granach,Gustav von Wangenheim,...,0,0,0,0,0,0,0,0,0,Fantasy
194,Sherlock Jr.,"Action, Comedy, Romance",1924,45.0,8.2,41985,Buster Keaton,Buster Keaton,Kathryn McGuire,Joe Keaton,...,0,1,0,0,0,0,0,0,0,Action
193,The Gold Rush,"Adventure, Comedy, Drama",1925,95.0,8.2,101053,Charles Chaplin,Charles Chaplin,Mack Swain,Tom Murray,...,0,0,0,0,0,0,0,0,0,Adventure